.myheader{
    text-align: center;
    background-color: aquamarine;
    height: 50px;
    width: 100%;
}
.contactcard{
    background-color: beige;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 2px black;
    border-color: 2px solid black;
}